<!DOCTYPE html>
<html>
<head>
    <title>Contact Page</title>
</head>
<body>

    <h1>This is a Heading inside CONTACT page</h1>

    <h4>
        NAME: @HttpContextAccessor.HttpContext!.Session.GetString("Name") <br />
        AGE:  @HttpContextAccessor.HttpContext.Session.GetInt32("Age")
    </h4>
</body>
</html>