@model Person

<!DOCTYPE html>
<html>
<head>
    <title>Person Details</title>
</head>

<body>
    <h1>Person Details</h1>

    <p>
        ID: @Model.Id
        NAME: @Model.Name
        AGE: @Model.Age
    </p>

</body>
</html>