<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body>


    <div class="container py-4">

        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col">
                <div class="card h-100 text-bg-dark">
                    <img src="~/images/peacock.jpg" class="card-img-top" alt="Peacock">
                    <div class="card-body">
                        <h5 class="card-title">Peafowl</h5>
                        <p class="card-text">Peafowl is a common name for two bird species of the genus Pavo and one species of the closely related genus Afropavo within the tribe Pavonini of the family Phasianidae (the pheasants and their allies).</p>
                        <a href="https://en.wikipedia.org/wiki/Peafowl" target="_blank" class="btn btn-danger" role="button">Learn more</a>
                    </div>

                    <div class="card-footer">
                        <small class="text-white">Last updated 3 mins ago</small>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card h-100 text-bg-dark">
                    <img src="~/images/cat.jpg" class="card-img-top" alt="Cat">
                    <div class="card-body">
                        <h5 class="card-title">Cat</h5>
                        <p class="card-text">The cat (Felis catus), also referred to as the domestic cat or house cat, is a small domesticated carnivorous mammal. It is the only domesticated species of the family Felidae.</p>
                        <a href="https://en.wikipedia.org/wiki/Cat" target="_blank" class="btn btn-danger" role="button">Learn more</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-white">Last updated 1 mins ago</small>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 text-bg-dark">
                    <img src="~/images/lizard.jpg" height="275px" class="card-img-top" alt="Lizard">
                    <div class="card-body">
                        <h5 class="card-title">Lizard</h5>
                        <p class="card-text">Lizard is the common name used for all squamate reptiles other than snakes (and to a lesser extent amphisbaenians), encompassing over 7,000 species,[1] ranging across all continents except Antarctica, as well as most oceanic island chains.</p>
                        <a href="https://en.wikipedia.org/wiki/Lizard" target="_blank" class="btn btn-danger" role="button">Learn more</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-white">Last updated 20 secs ago</small>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 text-bg-dark">
                    <img src="~/images/bulls.jpg" height="275px" class="card-img-top" alt="Bulls">
                    <div class="card-body">
                        <h5 class="card-title">Bull</h5>
                        <p class="card-text">A bull is an intact (i.e., not castrated) adult male of the species Bos taurus (cattle). More muscular and aggressive than the females of the same species (i.e. cows proper), bulls have long been an important symbol in many religions, including for sacrifices.</p>
                        <a href="https://en.wikipedia.org/wiki/Bull" target="_blank" class="btn btn-danger" role="button">Learn more</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-white">Last updated just now</small>
                    </div>
                </div>
            </div>

        </div>

    </div>





    <script src="~/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
