<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body>


    <div class="container mt-5">

        <button type="button" class="btn btn-primary btn-lg" disabled>Primary</button>

        <button type="button" class="btn btn-secondary">Secondary</button>

        <button type="button" class="btn btn-success" disabled>Success</button>

        <button type="button" class="btn btn-danger">Danger</button>

        <button type="button" class="btn btn-warning">Warning</button>

        <button type="button" class="btn btn-info" disabled>Info</button>

        <button type="button" class="btn btn-light">Light</button>

        <button type="button" class="btn btn-dark btn-sm">Dark</button>

        <button type="button" class="btn btn-link">Link</button>

        <br/> <br/>


        <button type="button" class="btn btn-outline-primary btn-sm">Primary</button>

        <button type="button" class="btn btn-outline-secondary">Secondary</button>

        <button type="button" class="btn btn-outline-success">Success</button>

        <button type="button" class="btn btn-outline-danger">Danger</button>

        <button type="button" class="btn btn-outline-warning" disabled>Warning</button>

        <button type="button" class="btn btn-outline-info">Info</button>

        <button type="button" class="btn btn-outline-light">Light</button>

        <button type="button" class="btn btn-outline-dark">Dark</button>
        <br/><br/>


        <a href="#" class="btn btn-primary" role="button">
            I am a hyper link but same as button
        </a>

    </div>





    <script src="~/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
