<!DOCTYPE html>
<html>
<head>
    <title>Picture Gallery</title>

    <style>
        p {
            color: #0066ff;
            font-weight: bold;
            text-decoration: overline;
            background-color: #d2e0e0;
        }

        h1, h3, h5, small {
            text-decoration: underline;
            color: #993366;
        }

        span {
            font-size: 20px;
            color:darksalmon;
        }

        img {
            border: solid;
            border-width: 3px;
            border-color:indigo;
        }

        a img {
            border:dashed;
            border-width: 3px;
            border-color: darkred;
        }

        .my-color {
            color:burlywood
        }

        .my-font{
            font-style: italic;
        }

        .my-bgcolor{
            background-color:black
        }

        span#my-color-style {
            color: #e6e600;
        }

        h1,p.my-border {
            border: solid;
            border-width: 3px;
            border-color: #ff6600;
        }


    </style>
</head>

<body>

    <h1 class="my-color my-bgcolor my-font">This is a h1 with class selector</h1>

    <h2 class="my-color my-bgcolor my-font">This is a h2 with class selector</h2>

    <p class="my-color my-bgcolor my-font">This is a p1 with class selector</p>

    <p class="my-font my-color my-bgcolor">This is a p2 with class selector</p>




    <h1 class="my-border">Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>

    <h5>Heading 5</h5>

    <p>This is a para 1</p>

    <p>This is a para 2</p>

    <p class="my-border">This is a para 3</p>



    <a href="~/images/admin-aijaz.png" target="_blank">
       <img loading="lazy" src="~/images/admin-aijaz.png" width="200" height="200" alt="Aijaz" asp-append-version="true" />
    </a> <br/>

    <img loading="lazy" src="~/images/flower.jpg" alt="Flower" asp-append-version="true" width="200" height="200" />
    
    <br/>

    <span id="my-color-style">This is a span 1</span> <br/>
     
    <span>This is a span 2</span>
    <br />

    <span class="my-bgcolor">This is a span 3</span> <br />

    <small>This is a small 1</small> 

</body>
</html>