<!DOCTYPE html>
<html>
<head>
    <title>Picture Gallery</title>
</head>

<body>

    <h1>Picture Gallery</h1>

    <pre>

    <a href="~/images/admin-aijaz.png" target="_blank">
        <img loading="lazy" src="~/images/admin-aijaz.png" width="200" height="200" alt="Aijaz" asp-append-version="true" />
    </a>
   
    <a href="~/images/flower.jpg">
       <img loading="lazy" src="~/images/flower.jpg" alt="Flower" asp-append-version="true" width="200" height="200" />
    </a>

     </pre>

</body>
</html>